body {
  margin:0;padding:0;
  font-family: Arial, Helvetica, sans-serif;

  #app{
    background: white;
  }

  

  .box{
    padding:10px;
    border:1px solid #D0DAFE;
    border-radius: 4px;
    width:300px;
    height:400px;
    overflow: auto;
    margin:10px;
  }

  .red{
    background-color: #FC2C3D;
  }

  .blue{
    background-color: #5EBBFF;
  }

  .green{
    background-color: #72FF9F;
  }

  .footer{
    background-color: #FDE30A;
    height:200px;
  }

}

@media (min-width: 992px) { 

  nav{

    &.cd-side-navigation{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 90px;
      background-color: #131519;
      z-index: 10;

      .nav-item{

        position: relative;

        .nav-link{
          text-align: center;
          color: #4a5261;
          font-size: 12px;
          height: 90px;

          &:after{
            content: '';
            position: absolute;
            top: 0;
            right: -4px;
            height: 100%;
            width: 4px;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;           
          }
          // kalo ga active, munculin
          &:hover{            
            background-color: #08090b;
            
            &:after{
              background-color: #83b0b9;
              opacity: 1;
            }
          }

          &.active{
            background-color: #fff;
            color: #131519;

            // kslo active, ga ush dimunculin
            &:hover{
            
              &:after{
                opacity: 0;
              }
            }
          }

          

        }

        svg{
          display: block;
          margin: 15px auto 5px;
        }
      }
    }
  }

  .cd-section{
    
    transition: all .5s cubic-bezier(0.39, 0.58, 0.57, 1);
    
    // top: 0; harus dynamic nih
    // left: 0;
    height: 90px;
    width: 95px;
    overflow: hidden;
    backface-visibility: hidden;
  }

  .cd-side-container{
    position: relative;
    z-index: 2;
    padding-left: 90px;
    background-color: #4a5261;
  }

  .nav-loading-bar{
    position: fixed;
    z-index: 100;
    left: 90px;
    width: 4px;
    height: 90px;
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 1s ease;
    background-color: transparent;
    

  &.opac-visible{
    opacity: 1;
  }
    
  &.scale{
    transform: scaleY(15);
    background-color: rebeccapurple;
  }

  &.fade-out{
    opacity: 0;
  }


  }

}